body{
    margin: 0;
    padding: 0;
    background-color: white;
}
#userAvatar{
    width: 150px;
}
.userFeed{
    background-color: darkslategray;
}
.userPost{
    background-color: white;
    color: darkslategray;
}
.userHeader{
    background-color:darkslategray;
    color:white
}