body{
    margin: 0;
    padding: 0;
    background-color: white;
}
#userAvatar{
    width: 150px;
}
.userFeed{
    background-color:#2d3436;
}
.userPost{
    background-color: white;
    color: #2d3436
}
.userHeader{
    background-color: #2d3436;
    color:white
}