.site-background{
    background-color:maroon;
}

.site-element{
    background-color: white;
}

.center-img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.text-back{
    color: white;
}

.home-image{
    width: 18rem;
}

.thumbnail{
    width: 5rem;
}

.buttons{
    margin-bottom: 1em;
}

.song-card{
    width: 90%;
    margin: auto;
}

.overflow-test{
    width: 50%;
    height: 10rem;
    margin: auto;
    display: inline-block;
    overflow-x: scroll;
    overflow-y: hidden;
}